

			.left{
				float: left;
			}
			.right{
				float: right;
			}
			.clear{
				clear: both;
			}
			*{
				padding: 0;
				margin: 0;
			}
			a{
				text-decoration: none;
			}
			li{
				list-style:none
			}
			.header{
				height: 36px;
				line-height: 36px;
				padding: 5px 0;
				border-bottom:2px solid #eee;
			}
			.iconBlock{
				padding-left: 20px;
				padding-right: 10px;
			}
			.icon-jihua{
				font-size: 24px;
				color: #0183E6;
			}
			.addBtn .layui-btn{
				height: 28px;
				line-height: 28px;
				border-radius: 8px;
				margin-right: 100px;
			}
			.rili{
				position:relative
			}
			#test1{
				padding-left: 30px
			}
			.riliIcon{
				position: absolute;
				top: 7px;
				left: 10px;
				color: #1C9EFE;
			}
			.layui-form-item{
				height: 28px;
				width: 300px;
				clear: initial;
			}
			.layui-input-block{
				min-height: 28px;
				height: 28px;
				margin-left: 30px;
			}
			.layui-form-item input{
				height: 28px;
			}
			.bodyer{
				margin: 20px 0;
			}
			.inputBlock{
				padding: 110px 0;
				border-bottom:2px solid #eee;
			}
			.inputBlock .layui-input-block{
				margin-left: 110px;
			}
			.layui-form-label{
				padding-top: 4px;
				padding-bottom: 4px;
			}
			.inputBlock .layui-input-block {
				width: 360px;
			}