* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	padding: 0;
	margin: 0;
	position: relative;
	background-color: #e8edf2;
}

a {
	text-decoration: none;
}

.zyc_content {
	background-color: #e8edf2;
	padding-left: 0px;
}

.zyc_head,
#zyc_personal {
	position: fixed;
}

.zyc_head {
	width: 100%;
}

.zyc_head .zyc_header .zyc_head_nav {
	padding: 0 1%;
}

.zyc_head .zyc_header {
	line-height: 40px;
	position: relative;
}

.zyc_head .zyc_header .zyc_head_nav img {
	/* width: 35px; */
	height: 26px;
	border-radius: 50%;
	vertical-align: middle;
	padding: 3px;
	background-color: #fff;
}

.zyc_head .zyc_header .zyc_head_nav span {
	padding: 0 8px;
}

.zyc_head .zyc_header .zyc_head_nav {
	/* padding-top: 6px;
	padding-bottom: 6px; */
	    height: 54px;
    line-height: 50px;
	/* border-bottom: 1px solid #252f46; */
	background-color: #252f46;
	-moz-user-select: none;
	-khtml-user-select: none;
	color: #fff;
	user-select: none;
	position: relative;
}

.zyc_head .zyc_header .zyc_head_nav .zyc_logo {
	cursor: text;
	padding: 0 !important;
	background-color: #252f46;
	border-radius: 0;
	/* width: 70%; */
	/* padding: 5px !important; */
	margin-left: 22px;
}

.zyc_head .zyc_header .zyc_head_nav .zyc_personal_menu>ul>li {
	padding: 0 18px;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: 10px;
}

.zyc_head .zyc_header .zyc_head_nav .zyc_personal_menu>ul>li:hover:before {
	position: absolute;
	content: '';
	height: 2px;
	width: 100%;
	left: 0;
	background-color: #029e94;
}

.zyc_head .zyc_header .zyc_head_nav .zyc_personal_menu>ul>li>a>i {
	font-size: 18px;
	color: #fff;
}

.zyc_head .zyc_header .zyc_head_nav .zyc_personal_menu>ul>li>a>i span {
	font-size: 14px;
}

.zyc_head .zyc_header .zyc_head_nav .zyc_personal_menu>ul>li>a>span {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #fb0002;
	padding: 0 !important;
	display: block;
	position: absolute;
	top: 8px;
	right: 11px;
}

.zyc_head .zyc_header .zyc_head_nav .zyc_personal_menu>ul,
.zyc_head .zyc_header .zyc_head_nav .zyc_personal_menu {
	position: relative;
}

#zyc_personal {
	display: none;
	background-color: #fff;
	z-index: 3;
	padding: 6px 0px 10px;
	margin: 3px 0 0 20px;
	box-shadow: darkgrey 0px 0px 2px 0px inset;
	font-size: 13px;
	letter-spacing: .8px;
	line-height: 28px;
	text-align: center;
	right: 26px;
	top: 48px;
}

#zyc_personal li {
	cursor: pointer;
}

#zyc_personal li a {
	display: block;
}

#zyc_personal li:hover {
	background-color: #dcdcdc;
}

#zyc_personal li i.iconwodexinde {
	color: #F1AF09;
}

#zyc_personal li i.icontuichu2 {
	color: #007DDB;
}

.zyc_head .zyc_header .zyc_tab_nav {
	box-shadow: 0px 2px 15px rgba(40, 47, 62, 0.08);
	position: relative;
	height: 42px;
	background: #fff;
	line-height: 40px;
}

.zyc_head .zyc_header .zyc_tab_nav button {
	background: #fff;
	border: 0;
	height: 42px;
	width: 40px;
	outline: 0;
	cursor: pointer;
}

.zyc_head .zyc_header .zyc_tab_nav>button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	-webkit-appearance: button;
	cursor: pointer;
	text-transform: none;
	overflow: visible;
}

.zyc_head .zyc_header .zyc_tab_nav button i {
	color: #999;
}

.zyc_head .zyc_header .zyc_tab_nav nav.zyc_tab {
	margin-left: 40px;
	width: 100000px;
	height: 40px;
	overflow: hidden;
	display: block;
}

.zyc_head .zyc_header .zyc_tab_nav nav.zyc_tab .zyc_tab_list a {
	color: #676767;
	display: block;
	float: left;
	border-right: solid 1px #eee;
	padding: 0 15px;
	font-size: 14px;
	-webkit-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
	cursor: pointer;
	text-decoration: none;
}

.zyc_head .zyc_header .zyc_tab_nav nav.zyc_tab .zyc_tab_list a.zyc_active {
	color: #020202;
	background-color: #f6f6f6;
	position: relative;
}

.zyc_head .zyc_header .zyc_tab_nav nav.zyc_tab .zyc_tab_list a.zyc_active:before{
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: #1d2431;
	left: 0;
}

.zyc_head .zyc_header .zyc_tab_nav nav.zyc_tab .zyc_tab_list a:hover{
	background-color: #f6f6f6;
}

.zyc_head .zyc_header .zyc_tab_nav nav.zyc_tab .zyc_tab_list a span.iconcha{
	color: #e6d7d7;
	margin-left: 15px;
}

.zyc_head .zyc_header .zyc_tab_nav nav.zyc_tab .zyc_tab_list a span.iconcha:hover{
	color: red;
	background-color: #eee;
}

.zyc_head .zyc_header .zyc_tab_nav button.zyc_tabLeft {
	left: 0;
	border-right: solid 1px #eee;
}

.zyc_head .zyc_header .zyc_tab_nav button.zyc_tabRight {
	right: 40px;
	border-left: solid 1px #eee;
}

.zyc_head .zyc_header .zyc_tab_nav .zyc_roll {
	position: absolute;
	width: 40px;
	height: 40px;
	text-align: center;
	color: #999;
	z-index: 2;
	top: 0;
}

.zyc_head .zyc_header .zyc_tab_nav .zyc_group {
	right: 0;
	width: 40px;
	padding: 0;
	border-left: solid 1px #eee;
}

.zyc_head .zyc_header .zyc_tab_nav .zyc_group button {
	width: 40px;
}

.zyc_head .zyc_header .zyc_tab_nav .zyc_group ul {
	border: medium none;
	display: none;
	float: left;
	font-size: 12px;
	list-style: none outside none;
	padding: 0;
	position: absolute;
	text-shadow: none;
	z-index: 1000;
	border-radius: 0;
	box-shadow: 0 0 3px rgba(86, 96, 117, .3);
	background-color: #fff;
}

.open>.dropdown-menu {
	display: block;
}

.dropdown-menu-right {
	left: auto;
	right: 5px;
}

.dropdown-menu>li>a {
	border-radius: 3px;
	color: inherit;
	line-height: 25px;
	margin: 4px;
	text-align: left;
	font-weight: 400;
	cursor: pointer;
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

.dropdown-menu .zyc_divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}

/**
 * 左侧菜单部分
 */

.zyc_menu {
	width: 200px;
	position: absolute;
	/* top: 100px; */
	left: -200px;
	background-color: #013A5E;
	z-index: 11;
	/* padding: 6px 0; */
	font-size: 13px;
	box-shadow: 0px 2px 15px rgba(40, 47, 62, 0.08);
	-webkit-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.headImgBlock{
	text-align: center;
	background: #14486B;
	padding-top: 28px;
}
.headImg{
	width: 72px;
	height: 72px;
	background: #fff;
	border-radius: 50px;
	margin: 0 auto;
}
.headImg img{
	width: 100%;
	height: 100%
}
.headImgName{
	color: #fff;
	height: 32px;
	line-height: 32px;
}

.zyc_menu>.zyc_menu_i {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 40px;
	right: -30px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #f0f8ff;
	padding: 7px;
	color: #01AAED;
	box-shadow: 0px 2px 15px rgba(40, 47, 62, 0.08);
	cursor: pointer;
	border-bottom: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	border-top: 1px solid #cdcdcd;
}
.menuBlock{
	text-align: center;
}
.zyc_menu>ul>li {
	line-height: 36px;
	cursor: pointer;
	position: relative;
}

.zyc_menu>ul li:last-child {
	border: none;
}

.zyc_menu>ul li>a {
	padding: 0 15px;
	display: block;
	text-decoration: none;
	color: #a7b1c2;
}

.zyc_menu>ul li i {
	padding: 0 6px;
	color: #a7b1c2;
	font-size: 13px;
}

.zyc_menu>ul>li:hover,
.zyc_menu>ul>li.zyc_this {
	background: #073157;
}

.zyc_menu>ul>li.zyc_this {
	border-left: 2px solid #009E94;
}

.zyc_menu>ul>li li.zyc_this i,
.zyc_menu>ul>li li:hover i,
.zyc_menu>ul>li li:hover>a,
.zyc_menu>ul>li li.zyc_this,
.zyc_menu>ul>li>a:hover>i,
.zyc_menu>ul>li.zyc_this>a>i,
.zyc_menu>ul>li>a:hover,
.zyc_menu>ul>li.zyc_this>a {
	color: #fff;
}

.zyc_menu>ul>li li {
	padding-left: 5px;
}

.zyc_menu>ul>li.zyc_twin>a:before,
.zyc_menu>ul>li.zyc_twin>a:after {
	content: '';
	width: 8px;
	height: 1.2px;
	background: #a7b1c2;
	position: absolute;
	right: 8px;
}

.zyc_menu>ul>li.zyc_twin>a:before {
	margin-top: 13px;
	transform: rotateZ(50deg);
}

.zyc_menu>ul>li.zyc_twin>a:after {
	margin-top: 18px;
	transform: rotateZ(-50deg);
}

.zyc_menu>ul>li.zyc_twin.zyc_open>a:before {
	margin-top: 16px;
	background-color: #fff;
	right: 12px;
}

.zyc_menu>ul>li.zyc_twin.zyc_open>a:after {
	margin-top: 16px;
	background-color: #fff;
}

.zyc_menu_open {
	left: 0;
}

.zyc_menu_twin {
	display: none;
	-webkit-transition: all .8s ease-out .5s;
	transition: all .8s ease-out .5s;
	margin-top: -100%;
}

.zyc_menu_twin_open {
	display: block;
	margin-top: 0;
}

.zyc_content {
	padding-top: 54px;
}

#zyc_main {
	height: calc(100% - 140px);
	overflow: hidden;
}
.zyc_head .zyc_header .zyc_head_nav span.topName{
	margin-left: 80px;
	font-size: 14px;
	display: inline-block;
	padding-top: 2px;
}
.icon-rili{
	color: #aab6c1;
}
.zyc_head .zyc_header .zyc_head_nav img.topAdminImg{
	width: 26px;
	padding: 0;
}
.topSet{
	width: 200px;
	padding: 10px 0;
	color: #000;	
}
.topClass{
	color: #0080FF;
}
.topSetUse{
	height: ;
	border-bottom: 1px solid #eee;
	height: 32px;
	line-height: 32px;
}
.topSetUse a{
	font-size: 12px;
}
.topSetBtn{
	text-align: left;
	width: 100px;
	margin: 0 auto;
	height: 32px;
	line-height: 32px;
}
.topSetBtn a{
	color: #898989;
}
.topSetBtn i{
	color: #898989;
}
.zyc_left .layui-icon-down{
	font-size: 12px;
}
